<h2>Coupon Form: </h2>
<%= form_tag coupons_path do%>
    <label >Coupon code:</label?<br>
    <%= text_field_tag :"coupon[coupon_code]" %>

    <label>Store:</label?<br>
    <%= text_field_tag :"coupon[store]" %>
    <%= submit_tag "Submit Coupon" %>
<% end %>

