<h1>Coupon Form</h1>
<%= form_tag coupons_path do %>
  <label>Store</label>
  <%= text_field_tag :'coupon[store]' %>
  <label>Code</label>
  <%= text_field_tag :'coupon[coupon_code]' %>
  <%= submit_tag "Submit Coupon" %>
<% end %>
