<h3>Coupon Form</h3>
<%= form_tag coupons_path do %>
<label for="coupon coupon_code">coupon</label><br>
<%= text_field_tag :"coupon[coupon_code]"%><br>
<label for="coupon store">store</label><br>
<%= text_field_tag :"coupon[store]"%><br>
<%= submit_tag "Submit Coupon"%>
<%end%>
