<h1>Coupon Form</h1>
<%= form_tag coupons_path do %>
    Coupon Code:
    <%= text_field_tag :'coupon[coupon_code]' %>
    Store:
    <%= text_field_tag :'coupon[store]' %>
    <%= submit_tag "Submit Coupon"%>
<% end %>

